In [1]:
import pandas as pd
import numpy as np
import datetime
import time

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('display.max_columns', None)

import plotly.graph_objects as go
import plotly.express as px
import dash
import dash_core_components as dcc
import dash_html_components as html

import ibmdata

# ABC dbc and bit count

In [2]:
QUERY = """
WITH cte AS(
    SELECT lot_id, wafer_id, last_test_date AS date, radius_Center_5 AS ERZONE, family_code,
        corner || ' ' || categoryName as parameter, SUM(count) AS Count, count(*) AS Num_chips
    FROM DMIW.PattRecChipFactR prcfr
    JOIN DMIW_SYSPRC.DerivedDataSetup dds ON dds.derivedSetupKey = prcfr.derivedSetupKey
    JOIN DMIW_SYSPRC.PattRecCategory prc ON prc.pattRecCatKey = prcfr.pattRecCatKey
    JOIN DMIW_SYSPRC.Geography g ON g.geographyKey = prcfr.geographyKey
    JOIN DMIW_SYSPRC.TestedWafer tw ON tw.testedWaferKey = prcfr.testedWaferKey
    WHERE Last_test_date >= (current date - 365 days) 
    AND Tech_id = '7HPP' 
    AND tw.Calcdefs in ('PEL11', 'PEL21', 'PEL31')
    AND corner IN ('PEL1L3March90p75','PEL1K1March90p75')
    AND (categoryName = 'BIT' OR categoryName = 'DBC' OR categoryName = 'PERF')
    AND exclude_Flag = 'N'
    GROUP BY lot_id, wafer_id, last_test_date, radius_Center_5, family_code, corner || ' ' || categoryName
),

cte2 AS (
    SELECT lot_id, wafer_id, date, family_code,
        SUM(CASE WHEN parameter LIKE '%0p75 DBC' THEN count ELSE 0 END) AS DBC_count,
        SUM(CASE WHEN (erzone = 'A' AND (parameter LIKE '%0p75 DBC' OR parameter LIKE '%0p75 BIT')) THEN count ELSE 0 END) AS A_DBC_BIT_count,
        SUM(CASE WHEN (erzone = 'B' AND (parameter LIKE '%0p75 DBC' OR parameter LIKE '%0p75 BIT')) THEN count ELSE 0 END) AS B_DBC_BIT_count,
        SUM(CASE WHEN (erzone = 'C' AND (parameter LIKE '%0p75 DBC' OR parameter LIKE '%0p75 BIT')) THEN count ELSE 0 END) AS C_DBC_BIT_count,
        MAX(CASE WHEN (erzone = 'A' AND parameter LIKE '%0p75 PERF') THEN num_chips ELSE 0 END) AS A_num_chips,
        MAX(CASE WHEN (erzone = 'B' AND parameter LIKE '%0p75 PERF') THEN num_chips ELSE 0 END) AS B_num_chips,
        MAX(CASE WHEN (erzone = 'C' AND parameter LIKE '%0p75 PERF') THEN num_chips ELSE 0 END) AS C_num_chips
        FROM cte
        WHERE ERZONE IN ('A','B','C')
        GROUP BY lot_id, wafer_id, date, family_code
),

cte3 AS(
    SELECT lot_id, wafer_id, date, family_code, a_dbc_bit_count, b_dbc_bit_count, c_dbc_bit_count, dbc_count,
        MAX(A_num_chips) OVER(PARTITION BY Family_code) AS A_num_chips,
        MAX(B_num_chips) OVER(PARTITION BY Family_code) AS B_num_chips,
        MAX(C_num_chips) OVER(PARTITION BY Family_code) AS C_num_chips
    FROM cte2
)

SELECT wafer_id, date, family_code, a_dbc_bit_count, b_dbc_bit_count, c_dbc_bit_count, dbc_count,
    a_dbc_bit_count + b_dbc_bit_count + c_dbc_bit_count AS ABC_dbc_bit_count
FROM cte3
ORDER BY  date, Lot_id, Wafer_id
"""

df1 = ibmdata.isdw.query(QUERY)

In [3]:
df1

,wafer_id,date,family_code,a_dbc_bit_count,b_dbc_bit_count,c_dbc_bit_count,dbc_count,abc_dbc_bit_count
0,A1B75-01,2021-06-23,Q6,0,0,0,0,0
1,A1B75-02,2021-06-23,Q6,0,0,0,0,0
2,A1B75-03,2021-06-23,Q6,0,0,0,0,0
3,A1B75-04,2021-06-23,Q6,0,0,0,0,0
4,A1B75-05,2021-06-23,Q6,0,0,0,0,0
...,...,...,...,...,...,...,...,...
4338,A2AZ6-19,2022-06-20,Q6,4,7,1,11,12
4339,A2AZ6-20,2022-06-20,Q6,2,2,2,4,6
4340,A2AZ6-21,2022-06-20,Q6,0,0,0,0,0
4341,A2AZ6-22,2022-06-20,Q6,0,0,0,0,0
4342,A2AZ6-23,2022-06-20,Q6,0,0,0,0,0

In [27]:
df.to_csv('~/Downloads/CANOP.csv')

# ABC dbc and bit yield loss

In [3]:
QUERY = """
WITH cte AS(
    SELECT 
        lot_id, wafer_id, unitcell_X as kerf_X, unitcell_Y as kerf_Y, last_test_date AS date, family_code,
        MAX(
           
           CASE
                WHEN (categoryName LIKE '%DBC' OR categoryName LIKE '%BIT') THEN 1
                ELSE 0
            END
        ) AS chip_fail,
        MAX(1) AS num_chips
    FROM 
        DMIW.PattRecChipFactR prcfr
        JOIN DMIW_SYSPRC.DerivedDataSetup dds ON dds.derivedSetupKey = prcfr.derivedSetupKey
        JOIN DMIW_SYSPRC.PattRecCategory prc ON prc.pattRecCatKey = prcfr.pattRecCatKey
        JOIN DMIW_SYSPRC.Geography g ON g.geographyKey = prcfr.geographyKey
        JOIN DMIW_SYSPRC.TestedWafer tw ON tw.testedWaferKey = prcfr.testedWaferKey
    WHERE 
        Last_test_date >= (current date - 365 days) 
        AND Tech_id = '7HPP' 
        AND tw.Calcdefs in ('PEL11', 'PEL21', 'PEL31')
        AND corner IN ('PEL1L3March90p75','PEL1K1March90p75')
        AND (categoryName = 'BIT' OR categoryName = 'DBC' OR categoryName = 'PERF')
        AND exclude_Flag = 'N'
        AND radius_Center_5 IN ('A','B','C')
    GROUP BY 
        lot_id, wafer_id, last_test_date, unitcell_X, unitcell_Y, family_code
),
cte2 AS(
    SELECT 
        LEFT(lot_id,5) AS Lot_id_base, wafer_id, family_code, 
        MIN(date) AS date, SUM(chip_fail) AS chip_fail, SUM(num_chips) AS num_chips
    FROM 
        cte
    GROUP BY 
        LEFT(lot_id,5), wafer_id, family_code
),
cte3 AS(
    SELECT 
        lot_id_base, wafer_id, family_code, date, chip_fail, 
        MAX(num_chips) OVER(PARTITION BY family_code) AS num_chips
    FROM 
        cte2
)
SELECT lot_id_base, wafer_id, family_code, date, 100*chip_fail/FLOAT(num_chips) AS CANOP_yieldLoss
FROM cte3
"""

df2 = ibmdata.isdw.query(QUERY)

In [5]:
df2

     lot_id_base  wafer_id family_code        date  canop_yieldloss
0          AZ73D  AZ73D-05          Q5  2021-07-30         2.702703
1          AZ73D  AZ73D-06          Q5  2021-07-30        24.324324
2          AZ73D  AZ73D-08          Q5  2021-07-30         0.000000
3          AZ73D  AZ73D-09          Q5  2021-07-30         0.000000
4          AZ73D  AZ73D-10          Q5  2021-07-30         5.405405
...          ...       ...         ...         ...              ...
4338       AZBXA  AZBXA-21          XQ  2022-04-05         0.000000
4339       AZBXA  AZBXA-22          XQ  2022-04-05         2.702703
4340       AZBXA  AZBXA-23          XQ  2022-04-05         0.000000
4341       AZBXA  AZBXA-24          XQ  2022-04-05         0.000000
4342       AZBXA  AZBXA-25          XQ  2022-04-05         0.000000

[4343 rows x 5 columns]

# V0 Viachain resistance and V0 Isovia resistance

In [4]:
DAYSBACK = 365
QUERY = f"""
WITH cte AS(
    SELECT 
        lot_Id, wafer_id, normalized_TestX as chipX, normalized_TestY as chipY, family_Code, parm_Label as parameter, 
        parmValue, unitcell_X as kerf_X, unitcell_Y as kerf_Y, radius_Center_5 AS ERZONE
    FROM 
        DMIW.ChipParmFactR cpfr
        JOIN DMIW_SYSPRC.TestParm tp ON tp.testParmKey = cpfr.testParmKey
        JOIN DMIW_SYSPRC.Geography g ON g.geographyKey = cpfr.geographyKey
        JOIN DMIW_SYSPRC.TestedWafer tw ON tw.testedWaferKey = cpfr.testedWaferKey
    WHERE 
        Last_test_date >= (current date - {DAYSBACK} days)
        AND Tech_id = '7HPP' AND Level = 'LT'
        AND cpfr.parmValue IS NOT NULL AND ABS(parmValue) < 1e25 
        AND (UCASE(tp.parm_Label) IN ('VCHNA_V0_DUT1_RES_LT','ISOVIA_V0_RES_LT'))
        AND radius_Center_5 NOT LIKE 'E'
    ORDER BY lot_Id, wafer_Id, normalized_TestX, normalized_TestY
),
cte2 AS(
    SELECT LEFT(lot_id,5) AS lot_id_base, wafer_id, family_code,
    AVG(
        CASE 
            WHEN parameter LIKE 'vchnA_V0_DUT1_RES_LT' THEN parmvalue
            ELSE NULL
        END
    ) AS vchnA_V0_DUT1_RES_LT,
    AVG(
        CASE
            WHEN parameter LIKE 'ISOVIA_V0_RES_LT' THEN parmvalue
            ELSE NULL
        END
    ) AS ISOVIA_V0_RES_LT
    FROM 
        cte
    GROUP BY LEFT(lot_id,5), wafer_id, family_code
)
SELECT * FROM cte2
"""
V0df = ibmdata.isdw.query(QUERY)

In [7]:
V0df

     lot_id_base  wafer_id family_code  vchna_v0_dut1_res_lt  isovia_v0_res_lt
0          A1AVP  A1AVP-01          Q6             67.989428         48.584993
1          A1AVP  A1AVP-02          Q6             65.232240         46.277778
2          A1AVP  A1AVP-03          Q6             66.150810         44.478124
3          A1AVP  A1AVP-04          Q6             66.912394         45.892991
4          A1AVP  A1AVP-05          Q6             66.365871         47.043360
...          ...       ...         ...                   ...               ...
2679       AZD12  AZD12-21          X2           4048.844019         43.392764
2680       AZD12  AZD12-22          X2             63.118901         42.961685
2681       AZD12  AZD12-23          X2             62.777103         43.793002
2682       AZD12  AZD12-24          X2             63.810811         44.783500
2683       AZD12  AZD12-25          X2             59.800685         42.987785

[2684 rows x 5 columns]

# BEOL V0 HCD

In [5]:
DAYSBACK = 365
QUERY = f"""
WITH cte AS(
    SELECT 
        lot_Id, wafer_Id, normalized_TestX as chipX, normalized_TestY as chipY, family_Code, dcItem_Name as parameter,  
        dcItem_Value as parmValue, unitcell_X as kerf_X, unitcell_Y as kerf_Y, radius_Center_5 AS ERZONE
    FROM 
        DMIW.MeasuredRawFact mrf
        JOIN DMIW_SYSPRC.MeasuredParm mp ON mp.MeasuredParmKey = mrf.MeasuredParmKey 
        JOIN DMIW_SYSPRC.Geography g ON g.GeographyKey = mrf.GeographyKey
        JOIN DMIW_SYSPRC.MeasuredWafer mw ON mw.MeasuredWaferKey = mrf.MeasuredWaferKey
    WHERE 
        Measurement_date >= (current date - {DAYSBACK} days) AND Tech_id = '7HPP' 
        AND Meas_pd_id in ('KU470810', 'KU470813', 'KU470814')
        AND meas_Pd_Id <> '' and dcItem_Value IS NOT NULL 
        AND ucase(dcItem_Name) NOT IN ('XCOORD', 'YCOORD', 'XSITE', 'YSITE', 'FIELD X', 'FIELD Y', 'SITE X', 'SITE Y', 'SITEID', 'ROW', 'COLUMN') 
        AND radius_Center_5 NOT LIKE 'E'
    ORDER BY lot_Id, wafer_Id
),
cte2 AS(
    SELECT 
        wafer_id, family_Code,
        AVG(
            CASE
                WHEN parameter LIKE 'BEOL_V0 HCD' THEN parmvalue
                ELSE NULL
            END
        ) AS BEOL_V0_HCD
    FROM
        cte
    GROUP BY wafer_id, family_Code
    
)
SELECT * FROM cte2
"""
met_df = ibmdata.isdw.query(QUERY)

In [9]:
met_df

     wafer_id family_code  beol_v0_hcd
0    A1AXZ-08          Q6     0.033533
1    A1AXZ-11          Q6     0.032411
2    A1AXZ-12          Q6     0.032489
3    A1AY2-11          Q6     0.033100
4    A1AY2-13          Q6     0.033367
..        ...         ...          ...
244  AZD2Y-12          X2     0.033422
245  AZD2Z-01          X2     0.032933
246  AZD35-13          X2     0.033211
247  AZD38-13          X2     0.033200
248  AZD3F-01          X2     0.033133

[249 rows x 3 columns]

# Merge

In [6]:
pele_df = df1.merge(df2,how='inner',on=['wafer_id','family_code','date'])[['lot_id_base','wafer_id','family_code','date','abc_dbc_bit_count','canop_yieldloss']]

In [5]:
pele_df

,lot_id_base,wafer_id,family_code,date,abc_dbc_bit_count,canop_yieldloss
0,AZB4H,AZB4H-01,XQ,2021-09-19,17,18.918919
1,AZB4H,AZB4H-03,XQ,2021-09-19,4,8.108108
2,AZB4H,AZB4H-04,XQ,2021-09-19,6,10.810811
3,AZB4H,AZB4H-05,XQ,2021-09-19,9,13.513514
4,AZB4H,AZB4H-06,XQ,2021-09-19,0,0.000000
...,...,...,...,...,...,...
4610,A2R32,A2R32-21,Q6,2022-09-18,0,0.000000
4611,A2R32,A2R32-22,Q6,2022-09-18,1,2.857143
4612,A2R32,A2R32-23,Q6,2022-09-18,0,0.000000
4613,A2R32,A2R32-24,Q6,2022-09-18,0,0.000000
4614,A2R32,A2R32-25,Q6,2022-09-18,0,0.000000

In [7]:
peleV0df = pele_df.merge(V0df,how='inner',on=['lot_id_base','wafer_id','family_code'])

NameError: name 'V0df' is not defined

In [5]:
peleV0df.to_csv('~/Downloads/tmp1.csv')

NameError: name 'peleV0df' is not defined

In [29]:
peleMetdf = pele_df.merge(met_df,how='inner',on=['wafer_id','family_code'])

In [30]:
peleMetdf.to_csv('~/Downloads/tmp2.csv')

In [7]:
pele_df.to_csv('~/Downloads/canopbywafer.csv')